@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

// Typography
$header: 'Asap', sans-serif;
$font-stack: 'Ubuntu', sans-serif;

// Colors
$main-brand-color: #253d4a;
$secondary-brand-color: #E3B8D3;
$base-color: #FFF;