@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Ubuntu&display=swap');

// Typography
$header: 'Asap', sans-serif;
$font-stack: 'Ubuntu', sans-serif;

// Colors
$brand-color: #2e64a6;
$base-color: #fff;