@import 'config';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $font-stack;
    background: darken($base-color, 5%);
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}