@import 'config';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $font-stack;
    font-size: 1.3rem;
    color: $main-brand-color;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 20px auto;
}

h2, h3 {
    text-align: center;
    padding-bottom: 1em;
    line-height: 1.5;
}

h3 {
    font-weight: 700;
    font-size: 1.4rem;
}

hr {
    width: 150px;
    height: 5px;
    margin: 4em auto;
    background: $main-brand-color;
    border: none;
}