@import 'config';

footer {
    text-align: center;
    padding: 30px;
    margin-top: 2em;
    font-size: .7em;
    background: $main-brand-color;
    color: #FFF;

    a {
        color: $base-color;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            color: $secondary-brand-color;
        }
    }
}