@import 'config';

.form-section {
    margin-top: 50px;

    form {
        display: flex;
    
        input {
            padding: 1.3em 1.7em;
            width: 100%;
            line-height: 16px;
            margin: 10px 0 5px;
            border-radius: 50px;
            outline: none;
            background: darken($base-color, 10%);

            &:focus {
                background: darken($base-color, 10%);

            }
        }
    
        input[type=text] {
            padding-right: 50px;
            border: 1px solid darken($base-color, 20%);
        }
    
        input[type=submit] {
            width: 10em; 
            margin-left: -50px;
            background: lighten($main-brand-color, 10%);
            border: 1px solid lighten($main-brand-color, 10%);
            color: $base-color;
            cursor: pointer;
            transition: .2s ease;
            -webkit-appearance: none;
    
            &:hover {
                background: $main-brand-color;
                border: 1px solid $main-brand-color;
                -webkit-appearance: none;
            }
        }
    }

    .loader {
        text-align: center;
        margin-top: 2em;
        display: none;
    }

    .loader.hide {
        animation: fadeOut;
        animation-fill-mode: forwards;
    }

    @keyframes fadeOut {
        100% {
            opacity: 1;
        }
    }
}