@import 'config';

header {
    text-align: center;
    padding: 35px 50px;
    background: $brand-color;
    color: $base-color;

    .site-title {
        font-family: $header;
        font-weight: 700;
        font-size: 2rem;
    }
}