@import 'config';

header {
    text-align: center;
    padding: 35px 50px;
    background: linear-gradient(90deg, rgba(37,61,74,1) 0%, rgba(28,42,50,1) 61%);
    color: $base-color;

    .site-title {
        font-family: $header;
        font-weight: 700;
        font-size: 2.2rem;
    }
}

/* Header */

.intro-section {
    margin-top: 70px;
    position: relative;

    .intro-img {
        width: 390px;
        border: 5px solid darken($main-brand-color, 10%);
    }

    .overlay-text {
        position: absolute;
        top: 15%;
        left: 43%;
        padding: 1.1em;
        background: $secondary-brand-color;

        p {
            line-height: 1.5;
        }
    }
}

@media (max-width: 790px) {
    // Having trouble repositioning the overlay text for smaller screens
    .overlay-text {
        top: 0;
        left: 0;
    }
}