@import 'config';

header {
    text-align: center;
    padding: 35px 50px;
    background: $main-brand-color;
    color: $base-color;

    .site-title {
        font-family: $header;
        font-weight: 700;
        font-size: 2.2rem;
    }
}

/* Header */

.intro-section {
    margin-top: 70px;
    position: relative;

    .intro-img {
        width: 390px;
        border: 5px solid darken($main-brand-color, 10%);
    }

    .overlay-text {
        position: absolute;
        top: 15%;
        left: 43%;
        padding: 1.1em;
        background: $secondary-brand-color;

        p {
            line-height: 1.5;
        }
    }
}

